* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    background-color: #316065;
    font-family: Tahoma, Verdana, sans-serif;
    color: #9ff;
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    margin: 20px 6%;
    font-size: 3.5em;
    color: #fff;
}

h2,h3,p {
    margin: 20px 0% 40px 8%;
    font-style: italic;
    font-weight: 100;
    font-size: 1.2em;
}

h3 {
    margin: 40px auto;
    text-align: center;
    color: #fff;
}

p {
    margin: 10px auto;
    font-size: 1em;
    width: 800px;
}

.main {
    position: relative;
    margin: 0px auto;
    width: 800px;
    height: 600px; /* white line is from this image being 599 pixels tall */
    /*background-image: url('./media/placeholder.jpg');*/
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100%;
    a {
        cursor: pointer;
        height: fit-content;
        position: absolute;
    }
}

/* 404 layout */
#invalid {
    background-image: url('./media/catSpin.gif');
}

/* room 1 layout */
#room1 {
    background-image: url('./media/testPageBackground.jpg');

    #imac {
        top: 28%;
        left: 27%;
        img{
            width: 260px;
        }
    }
    #rightArrow {
        top: 80%;
        right: 7%;
        img{
            transform: scaleX(-1);/* reverses the arrow */
            width: 120px;
        }
    }
}

/* room 2 layout */
#room2 {
    background-image: url('./media/testPage2Background.jpg');
    display: none;

    #recordPlayer {
        top: 4%;
        left: 39.5%;
        img{
            width: 260px;
        }
    }
    #leftArrow {
        top: 80%;
        left: 7%;
        img{
            width: 120px;
        }
    }
}