* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    background-color: rgb(49, 96, 101);
    font-family: Tahoma, Verdana, sans-serif;
    color: #9ff;
    font-weight: 100;
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    margin: 20px 0px 10px 60px;
    font-size: 3.5em;
    color: #fff;
}

h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 1.2em;
}

h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 1em;
    margin: 0px auto;
    width: 800px;
}

#tagline {
    margin: 0px 0px 70px 100px;
    width: 100%;
}

#navbar {
    margin: 0px 0px 70px 100px;
}

#location {
    width: 800px;
    height: 20px;
}

main {
    position: relative;
    background-color: #d2d2d2;
    margin: 0px auto;
    width: 800px;
    height: 600px; /* white line is from this image being 599 pixels tall */
    /*background-image: url('./media/placeholder.jpg');*/
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100%;
    a {
        cursor: pointer;
        height: fit-content;
        position: absolute;

    }
}

#imac {
    top: 28%;
    left: 27%;
    img{
        width: 260px;
    }
}

#recordPlayer {
    top: 4%;
    left: 39.5%;
    img{
        width: 260px;
    }
}

#leftArrow {
    top: 80%;
    left: 7%;
    img{
        width: 120px;
    }
}

#rightArrow {
    top: 80%;
    right: 7%;
    img{
        transform: scaleX(-1);
        width: 120px;
    }
}

#footer {
    margin: 30px auto 50px auto;
    width: fit-content;
    font-size: 1em;
    text-align: center;
}

.inaccessable {
    display: none;
    /* nuh uh!!! */
}